node_modules
plugins/**/*.*
data/player/*.json
data/account/*.json
!data/account/Admin.json
!data/player/Admin.json
*.swp
coverage/
*.logs
*.log
*.debug
gulpTODO.md
*.sublime-*
.ranvierSecret
log/*.log
!log/.gitkeep

# ignore mkdocs build target
site/

# ignore api.ai key
bundles/ranvier-npc-behaviors/APIAIKEY

.vscode/*
data/*
docs/*
log/*
node_modules/*
resources/*
src/*
.eslintrc
.istanbul.yml
.jshintrc
.nvmrc
gulpfile.js
jsdoc.conf
LICENSE.txt
mkdocs.yml
open-cov.sh
package.json
package-lock.json
ranvier

README.mkd
setup-bundles.js